name: Backend build

on:
    push:
        branches:
            - main
            - '[0-9]+.[0-9]+'
    pull_request: ~

jobs:
    cs-fix:
        name: Run code style check
        runs-on: "ubuntu-24.04"
        strategy:
            matrix:
                php:
                    - '8.3'
        steps:
            -   uses: actions/checkout@v6

            -   uses: ibexa/gh-workflows/actions/composer-install@main
                with:
                    gh-client-id: ${{ secrets.AUTOMATION_CLIENT_ID }}
                    gh-client-secret: ${{ secrets.AUTOMATION_CLIENT_SECRET }}
                    satis-network-key: ${{ secrets.SATIS_NETWORK_KEY }}
                    satis-network-token: ${{ secrets.SATIS_NETWORK_TOKEN }}

            -   name: Run code style check
                run: composer run-script check-cs -- --format=checkstyle | cs2pr

    rector:
        name: Run rector
        runs-on: "ubuntu-24.04"
        strategy:
            matrix:
                php:
                    - '8.3'
        steps:
            -   uses: actions/checkout@v6

            -   uses: ibexa/gh-workflows/actions/composer-install@main
                with:
                    gh-client-id: ${{ secrets.AUTOMATION_CLIENT_ID }}
                    gh-client-secret: ${{ secrets.AUTOMATION_CLIENT_SECRET }}
                    satis-network-key: ${{ secrets.SATIS_NETWORK_KEY }}
                    satis-network-token: ${{ secrets.SATIS_NETWORK_TOKEN }}

            -   name: Run rector
                run: vendor/bin/rector process --dry-run --ansi

    deptrac:
        name: Deptrac
        runs-on: "ubuntu-24.04"
        steps:
            -   uses: actions/checkout@v6

            -   name: Deptrac
                uses: smoench/deptrac-action@master

    tests:
        name: Tests
        runs-on: "ubuntu-24.04"
        timeout-minutes: 10

        strategy:
            fail-fast: false
            matrix:
                php:
                    - '8.3'

        steps:
            -   uses: actions/checkout@v6

            -   uses: ibexa/gh-workflows/actions/composer-install@main
                with:
                    gh-client-id: ${{ secrets.AUTOMATION_CLIENT_ID }}
                    gh-client-secret: ${{ secrets.AUTOMATION_CLIENT_SECRET }}
                    satis-network-key: ${{ secrets.SATIS_NETWORK_KEY }}
                    satis-network-token: ${{ secrets.SATIS_NETWORK_TOKEN }}

            -   name: Setup problem matchers for PHPUnit
                run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

            -   name: Run PHPStan analysis
                run: composer run-script phpstan

            -   name: Run test suite
                run: composer run-script --timeout=600 test-unit


    integration-tests:
        name: Tests
        runs-on: "ubuntu-24.04"
        timeout-minutes: 10
        needs: tests

        strategy:
            fail-fast: false
            matrix:
                php:
                    - '8.3'

        steps:
            -   uses: actions/checkout@v6

            -   uses: ibexa/gh-workflows/actions/composer-install@main
                with:
                    gh-client-id: ${{ secrets.AUTOMATION_CLIENT_ID }}
                    gh-client-secret: ${{ secrets.AUTOMATION_CLIENT_SECRET }}
                    satis-network-key: ${{ secrets.SATIS_NETWORK_KEY }}
                    satis-network-token: ${{ secrets.SATIS_NETWORK_TOKEN }}

            -   name: Setup problem matchers for PHPUnit
                run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

            -   name: Run test suite
                run: composer run-script --timeout=600 test-integration
